.container {
	width: 100%;
	text-align: center;
}

img {
	width: 500px;
	height: 500px;
}

.img-effect {
	filter: grayscale(1);
	transition: all 0.5s; 
}

.img-effect:hover {
	filter: grayscale(0);
}

button {
	margin-top: 100px;
	border-radius: 150px;
	border: 3px solid transparent; 
	transition: all 0.1s;
	transition: background;
}

/*button when it's hover */
button:hover {
	margin-top: 100px;
	border: 3px solid #bb0101;
	box-shadow: 13px 12px 60px -6px rgba(0,0,0,0.84);
}

/*button when is pressed */
button:active {
	position: relative;
	top: 5px;
	left: 5px;
	background: #da0f0f;
}

.btn {
	background: red;
	height: 250px;
	width: 370px;
}

.btn a {
	color: white;
	text-decoration: none;
	font-size: 60px;
	font-weight: 800;
}